<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mymos</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Timeline CSS -->
    <link href="/assets/css/timeline.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/mimos.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body style="background-color:#D76B5D">
<br>

<div class="row">
<div class="col-lg-6">
<img src="/assets/img/cham1.png" width="530px" class="img-responsive center-block"> <br>
</div>
<div class="col-lg-6">
    <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="well"><center>
              <img class="img-circle" width="80%" src="/assets/img/szilveszter.jpg">
                        <h4>Szilveszter Szekely</h4></center>
                      </div></div>
                      <div class="col-lg-3"><div class="well"><center>
                        <img class="img-circle" width="80%" src="/assets/img/abhinav.jpeg">
                        <h4>Abhinav Mishra</h4></center>
                      </div></div>
                    </div>
                        <div class="row">
                          <div class="col-lg-3"><div class="well"><center>
                            <img class="img-circle" width="80%" src="/assets/img/silvia.jpeg">
                        <h4>Silvia Sapora</h4></center>
                      </div></div>
                        <div class="col-lg-3"><div class="well"><center>
                          <img class="img-circle" width="80%" src="/assets/img/alberto.jpg">
                        <h4>Alberto Spina</h4></center>
                      </div></div>
                      </div>



        </div>
    </div>
</div>
</div>
<font color="white"><center><h4>Produced during HackKing's 2015<h4></center></font>
<a href="https://github.com/szekelyszilv/hackkings2015/"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <script src="/assets/js/openpgp.min.js"></script>
    <script src="/assets/js/openpgp.worker.min.js"></script>
    <script src="/assets/js/genkeypair.js"></script>

</body>

</html>
