<!DOCTYPE html>
<html lang="en" ng-app="mymosApp">

  <head >

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mymos</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Timeline CSS -->
    <link href="/assets/css/timeline.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/mymos.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>

  <body style="background-color:#D76B5D" ng-controller="MessengerController">

    <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand-logo" href="credits.html">
            <img src="/assets/img/logo2-1.png" width="200px">
          </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img src="/assets/img/cham1.png" alt="Img Missing" class="img-circle img-responsive" align="left" width="30px">
              <i class="fa fa-caret-down" style="color:black"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="account.html"><i class="fa fa-user fa-fw" ></i> {{user.name}} </a>
              </li>
              <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a href="export.html"><i class="fa fa-sign-out fa-fw"></i> Export</a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li class="sidebar-search">
                <div class="input-group custom-search-form">
                  <input ng-model="query" type="text" class="form-control" placeholder="Look for friends...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </li>
            </ul>
              <div class="friend-panel panel-default">
              <div id="sidePanel" class="panel-body">
              <ul class="nav" id="side-menu">
              <li ng-repeat="friend in user.friends| filter:query">
                <button class="btn btn-mymos" type="button" id="{{friend._id}}" ng-click="toggleSelectState(friend)" style="width:100%">
                  {{friend.name}}
                  <span ng-show="friend.selected">*</span>
                </button>
              </li>
              <li ng-repeat="usr in users | filter:query" ng-hide="usr._id == user._id">
                <button class="btn btn-mymos" type="button" id="{{usr._id}}" ng-click="toggleSelectState(usr)" style="width:100%">
                  <img src="/assets/img/cham1greyugly.png" alt="Img Missing" class="img-circle img-responsive" align="left" width="30px"></img>
                  {{usr.name}}
                  <span ng-show="usr.selected">*</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input ng-model="query" type="text" class="form-control" placeholder="Add New Friends...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
          </div>
        </div>
      </nav>

      <div id="page-wrapper">
        <div class="container-fluid">
            </div>
              <div class="chat-panel panel panel-default">
                      <div id="chatHolder" class="panel-body">
                        <ul class="timeline">
                          <li ng-repeat="message in user.messages" class="{{getSide(message)}}">
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <p><b>{{ message.sender.name }}</b></p>
                              </div>
                              <div class="timeline-body">
                                <p>{{ message.content }}</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="panel-footer">
                        <div class="input-group">
                          <input id="btn-input" type="text" ng-model="message" class="form-control input-sm" placeholder="Type your message here..." />
                          <span class="input-group-btn">
                            <button ng-click="sendMessage()" class="btn btn-danger btn-sm" id="btn-chat">
                              Send
                            </button>
                          </span>
                        </div>
                      </div>
      </div>
    </div>
    </div>

    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/controllers.js"></script>
    <script src="/assets/js/filters.js"></script>
    <script src="/assets/js/services.js"></script>

    <sript src="/assets/js/color.js"></>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

    <script src="/assets/js/openpgp.min.js"></script>
    <script src="/assets/js/openpgp.worker.min.js"></script>
    <script src="/assets/js/genkeypair.js"></script>

    <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

    <script language="javascript">
var toggleSelectState = function(a) {
  if (document.getElementById(a).className == "btn btn-mymos") {
    document.getElementById(a).className = "btn btn-danger";
  }
  else {
    document.getElementById(a).className = "btn btn-mymos";
  }
}
window.onresize = function() {
  document.getElementById('chatHolder').style.height = (window.innerHeight - 105) + "px";
  document.getElementById('sidePanel').style.height = (window.innerHeight - 165) + "px";
}
window.onload = function() {
  document.getElementById('chatHolder').style.height = (window.innerHeight - 105) + "px";
  document.getElementById('sidePanel').style.height = (window.innerHeight - 165) + "px";
} </script>
  </body>

</html>
